<%- include('partials/header.ejs') %>
<div class="ui container firstContainer">
    <% blogs.forEach(function(blog){ %>
        <div class="ui container card">
            <div class="content">
                <div class="header">
                    <%= blog.title %>
                </div>
            </div>
                <div class="image">
                    <img src=" <%= blog.image %> " alt="">
                </div>
            <div class="content">
                <div class="content">
                    <div class="summary">
                        <%= blog.body %>
                    </div>
                    <div class="ui sub header">
                        <%= blog.created.toDateString() %>
                    </div>
                </div>
                <a href="/blogs/<%=blog._id%>">Read More</a>
            </div>
        </div>
    <% }); %>
</div>

<%- include('partials/footer.ejs') %>
